@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Honk&family=Pacifico&family=Protest+Riot&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    text-align: center;
    background-color: #000000;
    height: 0;
    position: relative; /* Adicione position: relative; */
    z-index: 1; /* Ajuste o z-index para estar acima do vídeo */
}

nav li {
    text-align: center;
    display: inline-block;
}
 nav li a{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    color: rgb(124, 124, 124);
    text-decoration: none;
    padding: 15px;
    font-size: 40px;
}
nav li a:hover{
    color: white;
}
.dropdown-menu {
    position: absolute;
    box-shadow: 0 0 2px black;
    display: none;
}
.dropdown-menu a{
    display: block;
    color: rgb(124, 124, 124);
}
.dropdown:hover .dropdown-menu {
    display: block;
}
#init{
    font-size: 80px;
}
body {
    background-color: black;
    margin: 0;
    overflow: hidden;
}
#background-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

#icon-container {
    text-align: center;
    width: 100%;
}
#icon {
    margin-top: 150px;
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 5px rgb(39, 39, 39) solid;
}
#nome {
    margin-top: 15px;
    text-align: center;
    font-size: 40px;
    color: rgb(111, 111, 111);
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#bio {
    text-align: center;
    font-size: 45px;
    color: rgb(145, 145, 145);
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}
#icones {
    display: flex;
    justify-content: center;
    margin-top: 55px;
}
#icones img {
    height: 80px;
    width: 80px;
    border-radius: 50px;
    transition: all 0.2s;
    margin-right: 50px;
    margin-left: 50px;
}
#icones img:hover {
    transform: scale(1.2);
}
#linked{
    border: 10px white solid;
}
#whats {
    border: 10px white solid;
}
#icones img:last-child {
    margin-right: 0;
}
